<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply Notification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .container {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px auto;
        max-width: 500px;
        text-align: left;
      }
      h1 {
        color: #007bff;
        font-size: 25px;
        padding: 8px;
        text-align: center;
      }
      p {
        margin: 20px;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;
      }
      a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hola <%= name %>,</h1>
      <p>
        Se ha añadido una nueva respuesta a tu pregunta en el video "<%= title
        %>"
      </p>
      <p>
        Por favor, inicia sesión en nuestro sitio web para ver la respuesta y
        continuar la discusión.
      </p>
      <p>¡Gracias por ser parte de nuestra comunidad!</p>
    </div>
  </body>
</html>
